PORT=3000
RUS_API_BASE_URL=https://api-sandbox.siapi.io/v1
RUS_API_AUTH_URL=https://api-sandbox.siapi.io
RUS_USERNAME=tu_usuario_rus
RUS_PASSWORD=tu_password_rus

SUPABASE_URL=https://tu_proyecto.supabase.co
SUPABASE_KEY=tu_anon_public_key
RUS_DEFAULT_PRODUCER_CODE=1234
